          .nav-bar1 {
            font-style: italic;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }


          .foot-color1 {
            text-decoration: none;
          }

          .foot-color1 :hover {
            text-decoration: underline;
          }


          .foot-color2 {
            text-decoration: none;
          }

          .foot-color2 :hover {
            text-decoration: underline;
          }



          .foot-color3 {
            text-decoration: none;
          }

          .foot-color3 :hover {
            text-decoration: underline;
          }



          .contain {

            display: flex;
            background-image: linear-gradient(rgb(155, 213, 233), rgb(68, 68, 228));
            border-radius: 1vw;
            width: 75vw;
          }


          body {
            background-color: black
          }


          .home-pic {
            width: 30vw;

          }


          .logo {
            width: 10rem;
          }

          .nav-color {

            background-color: black;


          }

          .text1 {

            height: fit-content;
            width: 40rem;
            text-align: center;
            padding-top: 8vw;
          }

          .div1 {
            background-image: url(Bg\ pic.jpg);
            background-repeat: no-repeat, no-repeat;
            background-size: 100vw;
            color: white;
            height: 100vh;
          }

          .first-head {
            padding-top: 1vw;
            font-size: 5vw;
            ;
            background-image: linear-gradient(-45deg,
                #3257a7 0%,
                #ffffff 29%,
                #0396f8 67%,
                #ffffff 100%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s ease infinite;
            display: inline-block;
          }

          .first-para {
            padding-top: 1rem;

          }

          .drop:hover {
            background-color: rgb(0, 0, 0);
            color: white;
          }

          .btn_discover {
            margin-top: 2rem;

            border-radius: 20px;
            height: 3rem;
            width: 8rem;
          }

          .btn_discover:hover {
            background-color: black;
            color: white;
          }

          .box2-h1 {
            color: rgb(0, 0, 0);
            font-size: 3vw;
            font-style: italic;
          }

          .home_para {
            padding-top: 3vw;
            color: white;
            font-size: 1vw;
          }



          .Quote-by {
            z-index: 2;
          }

          .Quote-by-img {
            height: 30vh;
            border-radius: 30px;
            width: 30vw;

          }

          .home-card {
            width: 70vw;
            margin-left: 9vw;
          }

          .home-card1 {
            height: 20vh;
            width: 20vw;
            --border-size: 4px;
            --border-angle: 0turn;

            background-image: conic-gradient(from var(--border-angle),
                rgb(0, 0, 0),
                rgb(0, 0, 0) 50%,
                rgb(0, 0, 0)),
              conic-gradient(from var(--border-angle), transparent 20%, rgb(68, 168, 255), rgb(0, 47, 255));
            background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
              cover;
            background-position: center center;
            background-repeat: no-repeat;

            animation: bg-spin 3s linear infinite;
            animation: name duration timing-function delay iteration-count direction fill-mode;

          }

          .home-card2 {
            height: 20vh;
            width: 20vw;
            margin-left: 20vw;
            --border-size: 4px;
            --border-angle: 0turn;

            background-image: conic-gradient(from var(--border-angle),
                rgb(0, 0, 0),
                rgb(0, 0, 0) 50%,
                rgb(0, 0, 0)),
              conic-gradient(from var(--border-angle), transparent 20%, rgb(68, 168, 255), rgb(0, 47, 255));
            background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
              cover;
            background-position: center center;
            background-repeat: no-repeat;

            animation: bg-spin 3s linear infinite;

          }

          .home-card3 {
            height: 20vh;
            width: 20vw;
            margin-left: 41vw;
            --border-size: 4px;
            --border-angle: 0turn;

            background-image: conic-gradient(from var(--border-angle),
                rgb(0, 0, 0),
                rgb(0, 0, 0) 50%,
                rgb(0, 0, 0)),
              conic-gradient(from var(--border-angle), transparent 20%, rgb(68, 168, 255), rgb(0, 47, 255));
            background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
              cover;
            background-position: center center;
            background-repeat: no-repeat;

            animation: bg-spin 3s linear infinite;
          }

          .logo-page {


            font-size: 3vw;
          }



          .animated-box {
            z-index: 1;
            height: 30vh;
            width: 60vw;
            padding-left: 10vw;
            margin-top: 7vw;
            --border-size: 4px;
            --border-angle: 0turn;

            background-image: conic-gradient(from var(--border-angle),
                rgb(0, 0, 0),
                rgb(0, 0, 0) 50%,
                rgb(0, 0, 0)),
              conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
            background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
              cover;
            background-position: center center;
            background-repeat: no-repeat;

            animation: bg-spin 3s linear infinite;

          }

          @property --border-angle {
            syntax: "<angle>";
            inherits: true;
            initial-value: 0turn;
          }

          @keyframes bg-spin {
            to {
              --border-angle: 1turn;
            }
          }

          .select-design {
            height: 4vh;
            width: 12vw;
            border-radius: 5px;
            padding: 5px;
          }



          .Quote-by {
            height: 30vh;
            width: 30vw;
          }

          .Quote {
            margin-top: 17vw;
            display: flex;
            color: #ffffff;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            height: 30vh;
            width: 30vw;
            background-color: rgb(74, 74, 255);
            z-index: 2;
            font-size: 1vw;
          }


          /* Animation */
          @keyframes textclip {
            to {
              background-position: 200% center;
            }
          }

          .dicover-modal {
            font-size: 5vw;

          }

          .discover-link {
            text-decoration: none;
            font-style: italic;
          }

          .discover-link:hover {
            text-decoration: underline;

          }

          .modal1-img {
            background-image: url(modal\ pic\ 1.jpg);
            height: 20vh;


          }

          .modal2-img {
            background-image: url(modal\ pic\ 2.jpg);
            height: 20vh;
          }

          .modal3-img {
            background-image: url(modal\ pic\ 3.jpg);
            height: 20vh;
          }


          .dropdown-img {
            transition: 0.5s;
          }

          .dropdown-img:hover {
            transform: scale(1.1);
            border: 1px rgb(90, 86, 86) solid;
          }
.logo-content{
  align-items: center;
  justify-content: center;
}


          /* MediaQuery */



          /* small */
          @media screen and (max-width: 576px) {
            .div1 {
              background-image: url(Bg\ pic.jpg);
              background-repeat: no-repeat, no-repeat;
              background-size: 100vw, 200vh;
              color: white;
              height: 100vh;
            }

            .first-head {
              padding-top: 0.5rem;


            }

            .text1 {
              height: fit-content;
              width: 20rem;
              text-align: center;

            }

            .first-para {
              padding-top: 0.5rem;


            }

            .contain {
              display: block;
            }

            .home-pic {
              width: 70vw;
            }

            .box2-h1 {
              font-size: 4vw;
            }

            .home_para {
              font-size: 3vw;
            }

            .home-card1 {
              height: 30vh;
              width: 30vw;
            }

            .home-card2 {
              height: 30vh;
              width: 30vw;
              margin-left: 28vw;
            }

            .home-card3 {
              height: 30vh;
              width: 30vw;
              margin-left: 58vw;
            }

            .select-design {
              width: 100%;
              height: 5vh;
            }

            .home-card {
              margin-left: 1vw;
            }

            .main-content {
              margin-top: -30vh;
            }

            /* .logo-content {
              padding-left: 13vw;
            } */

            .contact-us {
              font-size: 8vw;
            }

            .dicover-modal {
              font-size: 20vw;

            }

            .Quote {
              font-size: 3vw;
            }

            .logo-page {
              font-size: 5vw;
            }

          }


          /* medium */

          @media screen and (max-width: 763px) {
            /* .logo-content {
              padding-left: 12vw;
            } */

            .first-head {
              padding-top: 0.5rem;
              font-size: 2rem;

            }

            .text1 {
              padding-right: 2rem;
              height: fit-content;
              width: 20rem;
              text-align: center;
              padding-top: 4rem;
            }

            .first-para {
              padding-top: 0.5rem;

            }

            .contain {
              display: block;
            }

            .box2-h1 {
              font-size: 5vw;

            }

            .home_para {
              font-size: 3vw;
            }

            .home-pic {
              width: 70vw;
            }

            .home-card {
              margin-left: -2vw;
            }

            .home-card1 {
              height: 30vh;
              width: 35vw;
              margin-left: 8vw;
            }

            .home-card2 {
              height: 30vh;
              width: 35vw;
              margin-left: 43vw;
            }

            .home-card3 {
              height: 30vh;
              width: 35vw;
              margin-left: 8vw;
            }

            .select-design {
              width: 100%;
              height: 5vh;
            }

            .animated-box {
              width: 37vw;

            }

            .Quote {
              font-size: 2vw;
            }

            .contact-us {
              font-size: 6vw;
            }
          }



          /* large */



          @media screen and (max-width: 992px) {
            .first-head {
              padding-top: 0.5rem;


            }

            .text1 {
              height: fit-content;
              width: 20rem;

              padding-top: 8rem;
            }

            .first-para {
              padding-top: 0.5rem;


            }

            .Quote {
              font-size: 2vw;
            }

          }





          /* Footer */

          .btn-sub {
            border-radius: 8px;
          }

          .btn-sub:hover {
            background-color: black;
            border: 1px ridge white;
          }

          ul li a {
            text-decoration: none;
          }

          ul li a:hover {
            text-decoration: underline;
          }